RP_App/.vs
RP_Server/.vs
RP_App/RP_App/RP_App/obj
RP_App/RP_App/RP_App.Android/obj
RP_App/RP_App/RP_App.UWP/obj
RP_Server/RP_Server/obj
RP_App/RP_App/RP_App/obj
RP_App/RP_App/RP_App.Android/obj
RP_App/RP_App/RP_App.UWP/obj
RP_Server/RP_Server/obj
RP_Server/RP_Server/bin
RP_App/RP_App/RP_App/bin
RP_App/RP_App/RP_App/obj
RP_App/RP_App/RP_App.Android/bin
RP_App/RP_App/RP_App.Android/obj
RP_App/RP_App/RP_App.UWP/obj
RP_Server/RP_Server/bin
RP_Server/RP_Server/obj
RP_App/RP_App/RP_App.UWP/bin
